<div class="content-section dark intro">
	<div>
		<h2>
			&quot;Rockstar gefangen im Körper eines Informatikers&quot;</h2>

		<p>Seit 10 Jahren bin ich in und um die Werbung tätig als <em>Softwareentwickler</em> und <em>Technischer
			Projektmanager</em>.
			Seit 2015 auch als freiberuflicher Medieninformatiker (BA) in den Regionen Düsseldorf/Köln, Hamburg und
			Frankfurt/Main.<br>

			Gearbeitet habe ich unter Anderem für Kunden wie die Deutsche Post, Praktiker, Johnson&amp;Johnson,
			O<sub>2</sub> und
			BMW.<br>
			Auf den folgenden Seiten möchte ich einen kleinen Einblick in mein Leistungsspektrum geben und Ihnen
			die Möglichkeit geben, mich zu kontaktieren.
		</p>
	</div>
</div>

<div class="content-section logos">
	<div class="logo symfony"></div>
</div>

<div class="content-section">
	<div>
		<h2>Leistungen</h2>

		<p>Seit über 10 Jahren bin ich im PHP-Bereich tätig. Angefangen bei herkömmlicher Andwendungsapplikation umfasst
			mein
			Leistungsspektrum mittlerweile auch Entwicklung von Smartphone Apps (Android und HTML5-Webapps) aber auch
			Technisches Projektmanagement</p>

		<div class="list-group">
			{{#each leistungen}}
				<div class="list-group-item">
					<div class="row-action-primary">
						{{#if icon}}
							<i class="{{icon}}"></i>
						{{else}}
							<i class="mdi-action-grade"></i>
						{{/if}}
					</div>
					<div class="row-content">
						<h4 class="list-group-item-heading">{{title}}</h4>
						{{#if text}}
							<p class="list-group-item-text">{{{text}}}</p>
						{{/if}}
					</div>
				</div>
				{{#if @last}}
				{{else}}
					<div class="list-group-separator"></div>
				{{/if}}
			{{/each}}
		</div>
	</div>

</div>

<div class="content-section dark">

	<div>
		<h2>
			Kurzes Faktenblatt
			<small>(Vita)</small>
		</h2>
		<p>Geboren im schönen Jahre 1984 in Lippstadt, wuchs ich in Diestedde auf, zog weiter nach Oelde um dann schließlich
		in Bielefeld mein Studium zu absolvieren. </p>
		<p>Seit 2011 lebe und arbeite ich in Düsseldorf.</p>
		<div class="list-group">
			{{#each vita}}
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="{{icon}}"></i>
					</div>
					<div class="row-content">
						{{#if zeit}}
							<div class="least-content">{{zeit}}</div>
						{{/if}}
						<h4 class="list-group-item-heading">{{{firma}}}</h4>
						<p class="list-group-item-text">{{{position}}}</p>
					</div>
				</div>

				{{#if @last}}
				{{else}}
					<div class="list-group-separator"></div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</div>