<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ielt9"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ielt9"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class=""> <!--<![endif]-->
<head>
    <title>{{ meta.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">

    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{join meta.keywords ", "}}">

    <meta property="og:title" content="{{ meta.title }}">
    <meta property="og:site_name" content="Michael Feinbier">
    <meta property="og:description" content="{{ meta.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://michael.feinbier.net/images/facebook-cover.png">
    <meta property="og:url" content="http://michael.feinbier.net">

    <meta property="article:author" content="{{ facebook }}">

    <meta name="twitter:site" content="@denkweite">


    <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Roboto:400,700,300,500' rel='stylesheet'
          type='text/css'>
    <link href="css/styles.css" rel="stylesheet">

</head>
<body class="">
<header class="navbar navbar-fixed-top large" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <div class="navbar-brand">
                <a href="/"><img src="images/avatar-michael.png" alt="" width="35"></a>
                <span>Michael</span> Feinbier
            </div>

        </div>
        <div class="navbar-header pull-right">
            <div class="navbar-right">
                <a href="mailto:{{mail}}"
                   class="btn navbar-btn btn-flat mail-btn"><i class="mdi-communication-email"></i></a>
                <a href="tel:{{phone}}" class="btn navbar-btn btn-flat"><i class="mdi-action-settings-phone"></i></a>
            </div>
        </div>

    </div>

</header>

<div class="container-fluid">
    <div class="" id="content">

        {{> body}}
    </div>

    <div class="external-links">
        <div><a href="{{xing}}" target="_blank" class="btn btn-lg btn-default btn-raised"><i
                class="mdi-social-domain"></i> XING</a></div>
        <div><a href="{{github}}" target="_blank" class="btn btn-lg btn-default btn-raised"><i
                class="mdi-editor-merge-type"></i> Github</a></div>
        <div><a href="{{facebook}}" target="_blank" class="btn btn-lg btn-default btn-raised"><i
                class="mdi-social-person-add"></i> Facebook</a></div>
        <a href="mailto:{{mail}}" class="btn btn-fab btn-raised mdi-content-drafts" id="contact-action"></a>
    </div>
</div>
<footer class="container-fluid">

    <div class="copyright">
        <address>
            Freiberuflicher Medieninformatiker (BA)<br>
            <strong><i class="mdi-social-person"></i> Michael Feinbier</strong>
        </address>
    </div>
    <div class="links">
        <address>
            Erik-Nölting-Str. 10<br>
            40227 Düsseldorf<br>
            <a href="tel:{{phone}}"><i class="mdi-communication-call"></i>{{phoneString}}</a><br>
            <a href="mailto:{{mail}}"><i class="mdi-communication-email"></i> {{mail}} </a><br>
			USt-Id: {{ustid}}
        </address>
    </div>
    <div class="navigation">
        <p>&copy; 2014 <a href="./impressum.html">Impressum</a> | <a href="./datenschutz.html">Datenschutz</a></p>
    </div>
</footer>


{{#if production}}
    <script src="./js/main.min.js"></script>

{{else}}
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="./js/main.js"></script>
{{/if}}

{{#if production}}
    <script>
        $(document).ready(function () {
            $.material.init();
        });

        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//stats.mail.feinbier.net/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 3]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//stats.mail.feinbier.net/piwik.php?idsite=3" style="border:0;" alt=""/></p></noscript>
{{/if}}
</body>
</html>
