<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 ielt9"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 ielt9"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class=""> <!--<![endif]-->
<head>
	<title>Michael Feinbier | Freelance PHP Developer</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta charset="utf-8">


	<meta property="og:title" content="Michael Feinbier - Freelance PHP Delevoper">
	<meta property="og:site_name" content="Michael Feinbier">
	<meta property="og:description" content="Freier Entwickler und TPM für PHP, Symfony2, TYPO3 und Laravel Projekte.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://michael.feinbier.net/images/facebook-cover.png">

	<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="./bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
	<link href="./bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">-->
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Roboto:400,700,300,500' rel='stylesheet'
		  type='text/css'>
	<link href="css/styles.css" rel="stylesheet">

</head>
<body>
<header class="navbar navbar-fixed-top large" id="top" role="banner">
	<div class="container-fluid">
		<div class="navbar-header pull-left">
			<div class="navbar-brand">
				<img src="images/avatar-michael.png" alt="" width="35">
				<span>Michael</span> Feinbier
			</div>

		</div>
		<div class="navbar-header pull-right">
			<div class="navbar-right">
				<a href="mailto:{{mail}}" class="btn navbar-btn btn-flat mail-btn"><i class="mdi-communication-email"></i></a>
				<a href="tel:{{phone}}" class="btn navbar-btn btn-flat"><i class="mdi-action-settings-phone"></i></a>
			</div>
		</div>

	</div>

</header>
<div class="container-fluid" id="navbar-intro">
	<div>
		<h1>Michael Feinbier
			<small>Freiberuflicher Medieninformatiker</small>
		</h1>

		<div class="avatar">
			<figure></figure>
		</div>
	</div>
</div>
<div class="container-fluid" id="content">

	{{> body}}

</div>

<footer class="container-fluid">
	<!-- <a href="mailto:{{mail}}" class="btn btn-fab btn-raised mdi-content-drafts" id="contact-action"></a> -->

	<!--<div class="link-buttons">
		<div><a href="#" class="btn btn-lg btn-default btn-raised"><i class="mdi-communication-email"></i> E-Mail</a></div>
		<div><a href="#" class="btn btn-lg btn-default btn-raised"><i class="mdi-social-public"></i> Github</a></div>
		<div><a href="#" class="btn btn-lg btn-default btn-raised"><i class="mdi-social-person-add"></i> XING</a></div>
	</div> -->
	<div class="copyright">
		<address>
			Freiberuflicher Medieninformatiker (BA)<br>
			<strong><i class="mdi-social-person"></i> Michael Feinbier</strong>
		</address>
	</div>
	<div class="links">
		<address>
			Erkrather Straße 296<br>
			40231 Düsseldorf<br>
			<a href="tel:{{phone}}"><i class="mdi-communication-call"></i>{{phoneString}}</a><br>
			<a href="mailto:{{mail}}"><i class="mdi-communication-email"></i> {{mail}} </a>
		</address>
	</div>
	<div class="navigation">
		<p>&copy; 2014 <a href="./impressum.html">Impressum</a> | <a href="./datenschutz.html">Datenschutz</a></p>
	</div>
</footer>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{{#if production}}
	<script src="./js/main.min.js"></script>

{{else}}
	<script src="../bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
	<script src="../bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
	<script src="./js/main.js"></script>
{{/if}}

{{#if production}}
	<script>
		$(document).ready(function () {
			$.material.init();
		});

		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function () {
			var u = "//stats.mail.feinbier.net/";
			_paq.push(['setTrackerUrl', u + 'piwik.php']);
			_paq.push(['setSiteId', 3]);
			var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.async = true;
			g.defer = true;
			g.src = u + 'piwik.js';
			s.parentNode.insertBefore(g, s);
		})();
	</script>
	<noscript><p><img src="//stats.mail.feinbier.net/piwik.php?idsite=3" style="border:0;" alt=""/></p></noscript>
{{/if}}
</body>
</html>